In [1]:
import turicreate as tc
import numpy as np

In [2]:
song = tc.SFrame('~/Desktop/song1_data.sframe')
song.head(2)

Columns:
	user_id	str
	song_id	str
	listen_count	int
	title	str
	artist	str
	song	str

Rows: 2

Data:
+-------------------------------+--------------------+--------------+
|            user_id            |      song_id       | listen_count |
+-------------------------------+--------------------+--------------+
| b80344d063b5ccb3212f76538f... | SOAKIMP12A8C130995 |      1       |
| b80344d063b5ccb3212f76538f... | SOBBMDR12A8C13253B |      2       |
+-------------------------------+--------------------+--------------+
+-----------------+---------------+-------------------------------+
|      title      |     artist    |              song             |
+-----------------+---------------+-------------------------------+
|     The Cove    |  Jack Johnson |    The Cove - Jack Johnson    |
| Entre Dos Aguas | Paco De Lucia | Entre Dos Aguas - Paco De ... |
+-----------------+---------------+-------------------------------+
[2 rows x 6 columns]

In [11]:
len(song)

1116609

In [16]:
len(users)

66346

In [20]:
song[song['song_id'] == 'SOAKIMP12A8C130995'].head(2)

Columns:
	user_id	str
	song_id	str
	listen_count	int
	title	str
	artist	str
	song	str

Rows: 2

Data:
+-------------------------------+--------------------+--------------+----------+
|            user_id            |      song_id       | listen_count |  title   |
+-------------------------------+--------------------+--------------+----------+
| b80344d063b5ccb3212f76538f... | SOAKIMP12A8C130995 |      1       | The Cove |
| 7a4b8e7d2905d13422418b4f48... | SOAKIMP12A8C130995 |      6       | The Cove |
+-------------------------------+--------------------+--------------+----------+
+--------------+-------------------------+
|    artist    |           song          |
+--------------+-------------------------+
| Jack Johnson | The Cove - Jack Johnson |
| Jack Johnson | The Cove - Jack Johnson |
+--------------+-------------------------+
[2 rows x 6 columns]

相同的song_id 其 artist, song 會一樣

## question_1
Which of the artists below have had the most unique users listening to their songs?

 'Kanye West', 'Foo Fighters', 'Taylor Swift' and 'Lady GaGa'

In [12]:
#'Kanye West'
KW = song[song['artist'] == 'Kanye West']
KWu = KW.unique()
# 'Foo Fighters'
FF = song[song['artist'] ==  'Foo Fighters']
FFu = FF.unique()
#'Taylor Swift'
TS = song[song['artist'] == 'Taylor Swift']
TSu = TS.unique()
#'Lady GaGa'
LG = song[song['artist'] == 'Lady GaGa']
LGu = LG.unique()

In [14]:
print('{} : {}'.format('Kanye West',len(KWu)))

print('{} : {}'.format('Foo Fighters',len(FFu)))

print('{} : {}'.format('Taylor Swift',len(TSu)))

print('{} : {}'.format('Lady GaGa',len(LGu)))

Kanye West : 3775
Foo Fighters : 3429
Taylor Swift : 6227
Lady GaGa : 4129

### answer_1 : taylor swift

## question_2

Which of the artists below is the most popular artist, the one with highest total listen_count, in the data set?

groupby

https://turi.com/products/create/docs/generated/graphlab.SFrame.groupby.html#graphlab.SFrame.groupby

user_rating_stats = sf.groupby(key_columns='user_id',
...                                operations={
...                                    'mean_rating': agg.MEAN('rating'),
...                                    'std_rating': agg.STD('rating')
...                                })

In [49]:
King = song[song["artist"] == "Kings Of Leon"]
ColdP = song[song["artist"] == "Coldplay"]

In [50]:
sumkl = King.groupby('artist', operations={'SUM' : tc.aggregate.SUM('listen_count')})
sumcp = ColdP.groupby('artist', operations={'SUM' : tc.aggregate.SUM('listen_count')})
sumts = TS.groupby('artist', operations={'SUM' : tc.aggregate.SUM('listen_count')})
sumlg = LG.groupby('artist', operations={'SUM' : tc.aggregate.SUM('listen_count')})

In [52]:
print('{} : {}'.format("Kings Of Lean",sumkl["SUM"]))

print('{} : {}'.format("Coldplay",sumcp["SUM"]))

print('{} : {}'.format('Taylor Swift', sumts["SUM"]))

print('{} : {}'.format('Lady GaGa',sumlg["SUM"]))

Kings Of Lean : [43218]
Coldplay : [35362]
Taylor Swift : [19376]
Lady GaGa : [12224]

#### answer_2 : Lady GaGa

## question_3

Which of the artists below is the least popular artist, the one with smallest total listen_count, in the data set?

'William Tabbert', "Velvet Underground", "kanye West", "The Cool Kids"

In [38]:
#'Kanye West'
WT = song[song['artist'] == 'William Tabbert']

# 'Foo Fighters'
VU = song[song['artist'] ==  "Velvet Underground & Nico"]

#'Taylor Swift'
KW = song[song['artist'] == "Kanye West"]

#'Lady GaGa'
TCK = song[song['artist'] == "The Cool Kids"]

In [39]:
sumwt = WT.groupby('artist', operations={'SUM' : tc.aggregate.SUM('listen_count')})
sumvu = VU.groupby('artist', operations={'SUM' : tc.aggregate.SUM('listen_count')})
sumkw = KW.groupby('artist', operations={'SUM' : tc.aggregate.SUM('listen_count')})
sumtck = TCK.groupby('artist', operations={'SUM' : tc.aggregate.SUM('listen_count')})

In [40]:
print('{} : {}'.format('William Tabbert',sumwt["SUM"]))

print('{} : {}'.format("Velvet Underground",sumvu["SUM"]))

print('{} : {}'.format("Kanye West", sumkw["SUM"]))

print('{} : {}'.format("The Cool Kids",sumtck["SUM"]))

William Tabbert : [14]
Velvet Underground : [80]
Kanye West : [9992]
The Cool Kids : [73]